/* Copyright (C) 2020-2023 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

/* {
    background:     #2e3440;
    background-alt: #3d4555;
    foreground:     #D8DEE9;
    selected:       #00FEFC;
    active:         #A3BE8C;
    urgent:         #BF616A;
} */


* {
    background:     #000000;
    background-alt: #292d37;
    foreground:     #0BB2BF;
    selected:       #1e1e1e;
    active:         #98C379;
    urgent:         #E06B74;
}
